body{
    margin:0;
}
#active{ /*id 선택자 가장 우선순위가 높다 유일무이한 고유명사 웹페이지에서 한번이상 쓸수 없음*/
    color:red;
}
.saw { /*클래스 선택자*/
    color:gray;
}
h1{    
    font-size: 45px;
    text-align:center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
}
ol{
    border-right:1px 
    solid gray;
    width:100px;
    margin:0; 
    padding:20px;
}
#grid{
    display:grid; /*웹페이지에 그리드를 사용할 떄 먼저 선언한다. */
    grid-template-columns: 150px 1fr; /*한 행에 gird라는 id 안에있는 태그들을 표시, 한칸은 150, 한칸*/
                                /*1fr은 1/남은공간 만큼 공간차지 한다.  */
}
#grid ol{
    padding-left:33px;
}
#article{
    padding-left:25px;
}
@media(max-width:800px){
    #grid{
    display:block;
    }
    ol{
    border-right:none;
    }
    h1{    
    border-bottom:none;
    }
}